@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Noto+Sans+SC:wght@300&display=swap');
* {
    margin: 0; 
}
.container {
    margin: 0, auto;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    font-size: 90%;
}
.block-left {
    width: 40%;
}
.block-right{
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    right: 1%;
    top: 5%;
}
.pagination {
    display: flex;
    flex-direction: row;
    width: 60%;
    position: absolute;
    top: 5%
}
#next,
#previous {
    color: white;
    font-size: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    text-shadow: 2px 3px 4px rgba(242, 236, 236, 0.5);
    cursor: pointer;
}
#next span {
    font-size: 17px;
    display: inline-block;
    position: relative;
    bottom: 7px;
}
#next:hover,
#previous:hover {
    transform: scale(1.05,1.05);
    text-shadow: 4px 6px 8px rgb(255, 184, 255);
}
.show-heroes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 25%
}
.show-heroes-hidden {
    transform: translateY(-700px);
}
.show-person {
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-size: 120%;
    color: black;
    font-weight: bold;
    width: 20%;
    height: 80px;
    background-color: rgb(194, 197, 197);
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 2px 3px 4px rgba(242, 236, 236, 0.5);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0;
    white-space:wrap;
    transition-duration: 300ms;
}
.show-person:hover {
    transform: scale(1.05,1.05);
    box-shadow: 2px 3px 4px rgb(112, 5, 112);
    background-color: rgb(237, 140, 237);
    transition-duration: 300ms;
    color: rgb(112, 5, 112);
    font-weight: 800;
}
.hero {
    width: 30%;
    border-collapse: collapse;
    transform: translateX(-700px);
    position: absolute;
    top: 15%;
    left: 5%;
}
.hero tr td,
caption {
    border: 1px double rgb(112, 5, 112);
    box-shadow: 2px 3px 4px rgb(237, 140, 237);
    color: rgb(237, 140, 237);
    padding-left: 8px;
    font-family: 'Heebo', sans-serif;
}
caption {
    color:rgb(255, 161, 216);
    font-weight: 900;
    text-shadow: 2px 3px 4px rgb(237, 140, 237);
    height: 40px;
    padding-top: 6%;
}
.hero tr td:first-child {
    width: 30%;
}
.ends {
    color: rgb(83, 81, 81) !important;
}
.display-hero{
    transform: translateX(0px);
    transition-duration: 700ms;
}
#close {
    position: absolute;
    right: 2%;
    top:2%;
    color: red;
    background-color: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor:pointer;
}
.hide {
    transition-duration: 700ms;
}